.pages-list {
  display: flex;
  flex: 1;
  flex-direction: column;

  .add-page {
    align-items: center;
    display: flex;
  }

  .pages {
    flex: 1;
    overflow-y: scroll;
    margin: 0 auto;
    padding: 32px;
  }

  .page-tools {
    align-items: center;
    display: flex;
  }

  .pagination {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding: 12px;

    //&:before {
    //  background-image: linear-gradient(bottom, hsl(0, 0, 93%), transparent);
    //  content: '';
    //  display: block;
    //  height: 32px;
    //  left: 0;
    //  position: absolute;
    //  right: 0;
    //  top: -32px;
    //}

    .nav {
      height: 32px;
      margin: 0 3px;
      opacity: .2;
      transition: all .3s;
      width: 32px;

      &.active {
        cursor: pointer;
        opacity: .8;
      }
    }

    .next {
      transition: all .3s;

      &.active:hover {
        transform: translateX(3px);
      }
    }

    .prev {
      transform: rotate(180deg);
      transition: all .3s;

      &.active:hover {
        transform: rotate(180deg) translateX(3px);
      }
    }
  }
}
