.pages-list {
  display: flex;
  flex: 1;
  flex-direction: column;

  .add-page {
    align-items: center;
    display: flex;
  }

  .pages {
    flex: 1;
    overflow-y: scroll;
    margin: 0;
    padding: 32px;
  }

  .page-tools {
    align-items: center;
    display: flex;
    padding: 0 32px 0 44px;
  }

  .pagination {
    align-items: center;
    display: flex;
    margin-left: auto;
    padding: 12px;

    .info {
      font-size: 14px;
      margin: 0 12px 0 0;
    }

    .nav {
      height: 32px;
      margin: 0 3px;
      opacity: .2;
      transition: all .3s;
      width: 32px;

      &.active {
        cursor: pointer;
        opacity: .8;
      }
    }

    .next {
      transition: all .3s;
    }

    .prev {
      transform: rotate(180deg);
      transition: all .3s;
    }
  }
}
