.page-item {
  background: hsl(0, 0, 99.5%);
  border-radius: 2px;
  box-shadow: 0 3px 3px hsla(0, 0, 0, .23), 0 3px 3px hsla(0, 0, 0, .16);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 270px;
  margin: 8px;
  padding: 0 12px 12px;
  position: relative;
  top: 0;
  transform: scale(1);
  transition: all .4s ease-out;
  width: 212px;

  &.loading {
    transform: scale(0);
    transition: all .4s;
  }

  &:hover {
    box-shadow: 0 6px 3px hsla(0, 0, 0, .23), 0 10px 10px hsla(0, 0, 0, .19);
    top: -6px;
    transition: all .4s;
  }

  &:hover .preview .screenshot {
    transform: translateY(-4px);
  }

  .preview {
    background-image: linear-gradient(bottom, hsl(14, 18%, 68%) 0%, hsl(14, 18%, 74%) 20%, hsl(0, 0%, 90%) 100%);
    border-bottom: 1px solid hsl(0, 0, 80%);
    height: 120px;
    margin: 0 -12px;
    max-height: 120px;
    overflow: hidden;
    padding: 12px 12px 0;
    position: relative;

    &:after {
      background-image: linear-gradient(bottom, hsla(0, 0, 0, .12) 10%, transparent);
      bottom: 0;
      content: '';
      display: block;
      height: 16px;
      left: 0;
      position: absolute;
      width: 100%;
    }

    .screenshot {
      box-shadow: 0 3px 3px hsla(0, 0, 0, .23), 0 3px 3px hsla(0, 0, 0, .16);
      display: block;
      position: relative;
      transform: translateY(0);
      transition: all .3s;
      width: 100%;
    }

    .screenshot.loading {
      transform: translateY(200px);
      transition: all .3s;
    }
  }

  .title {
    color: hsl(203, 100%, 46%);
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 16px;
    margin: 18px 0 6px;
    max-height: 32px;
    overflow: hidden;
    text-transform: capitalize;
  }

  .summary {
    color: hsl(0, 0, 40%);
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    height: 3 * 15px;
    margin: 0 0 20px;
    max-height: 3 * 15px;
    overflow: hidden;
  }

  .domain {
    color: hsl(0, 0, 68%);
    font-size: 12px;
    margin: auto 0 0;
  }
}
