.page-item {
  background: hsl(0, 0, 98%);
  border-radius: 2px;
  box-shadow: 0 3px 3px hsla(0, 0, 0, .23), 0 3px 3px hsla(0, 0, 0, .16);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 8px;
  overflow: hidden;
  padding: 0 12px 12px;
  position: relative;
  top: 0;
  transition: all .4s;
  width: 212px;

  &:hover {
    box-shadow: 0 6px 3px hsla(0, 0, 0, .23), 0 10px 10px hsla(0, 0, 0, .19);
    top: -6px;
    transition: all .4s;
  }

  .image {
    background: hsl(0, 0, 96%);
    height: 120px;
    margin: 0 -12px;
  }

  .title {
    color: hsl(203, 100%, 46%);
    display: block;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    line-height: 16px;
    margin: 18px 0 6px;
    max-height: 32px;
    overflow: hidden;
    text-transform: capitalize;
  }

  .title.loading {
    background: hsl(0, 0, 90%);
  }

  .summary {
    color: hsl(0, 0, 40%);
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    height: 3 * 15px;
    margin: 0 0 20px;
    max-height: 3 * 15px;
    overflow: hidden;
  }

  .domain {
    color: hsl(0, 0, 68%);
    font-size: 12px;
    margin: auto 0 0;
  }
}
