.user-profile {
  display: flex;
  flex: 1;

  .user-info {
    box-sizing: border-box;
    padding: 16px;
    text-align: center;
    width: 240px;

    .profile-image {
      background: hsl(0, 0, 98%);
      border: 3px solid hsl(0, 0, 80%);
      border-radius: 50%;
      height: 84px;
      margin: 0 auto 12px;
      width: 84px;
    }

    .name {
      color: hsl(0, 0, 40%);
      font-weight: 400;
    }
  }
}
