@import 'base/all';
@import 'pages-list';
@import 'page-item';

html, body {
  background: hsl(0, 0, 93%);
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 16px;
  padding: 16px;
}

a, a:link, a:visited, a:hover {
  color: hsl(203, 100%, 46%);
  text-decoration: none;
}
